# LangChain Core
langchain
langchain-core
langchain-community
langchain-text-splitters

# LLM Providers
langchain-mistralai
langchain-openai

# Embeddings
langchain-huggingface
sentence-transformers

# Vector Database
langchain-chroma
chromadb

# GitHub Repository Loading
gitpython

# Document Loaders
pypdf


# Environment Variables
python-dotenv

# Web UI
streamlit

