# LangChain Core
langchain
langchain-core
langchain-community
langchain-text-splitters

# LLM Providers
langchain-mistralai
langchain-openai

# Embeddings
langchain-huggingface
sentence-transformers

# Vector Database
chromadb

# GitHub Repository Loading
gitpython

# Document Loaders
pypdf
unstructured
markdown

# Environment Variables
python-dotenv

# Token Counting
tiktoken

# Web UI
streamlit


# API
fastapi
uvicorn
